body{
	background-color: rgb(0, 121, 191);
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header{
	width: 100%;
	background-color: #026AA7;
	text-align: center;
	padding: 5px 0;
}
#agregar {
	padding: 10px 100px 10px 7px;
	margin: 30px 50px 0px 50px;
	width: 250px;
	box-sizing: border-box;
	background-color: #026AA7;
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
/*
#agregar:active,
#agregar:focus {
	color:#fff;
	background-color:red;
}*/
#cont {
	width: 250px;
	height: 100px;
	margin: 0 50px;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: #C9C9C9;
}
#cont textarea {
	float: left;
	width: 100%;
	margin: 0 auto;
}
#cont button {
	float: left;
	background-color: green;
	margin-top: 10px;
	border: none;
	padding: 5px 10px;
	color: #fff;
}
#contenedorTareas p{
	display: block;
	margin: 0 50px;
	width: 250px;
	box-sizing: border-box;
	background-color: #fff;
	padding: 5px 5px;
	color: rgb(64, 64, 64);
}

#contenedorTareas .fa {
	float: right;
	color: rgb(0, 121, 191);

}